<h2>Users</h2>
<div class="">
  <div *ngFor="let user of userList" class="">
    {{user.UserName}}
    <!-- <p>{{user.notifications[0]}}</p> -->
  </div>
  <!-- <div *ngFor="let notification of notifications" class="" style="background-color:blue">
    {{notification.Notification}}
  </div> -->

  <!-- <div>
    <select class="form-control" id="power" required>
      <option *ngFor="let user of userlist" [value]="user.userName">{{user.userName}}</option>
    </select>
  </div> -->
  <!-- <input type="text" class="form-control" id="name"
       required
       [(ngModel)]="user.userName" name="name"> -->
</div>
